<html>
<head>
 <title>Show Page</title>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
     <script src="/static/echarts.js"></script> 
	 <script src="/static/map/js/china.js"></script>
	 <script src="/static/theme/vintage.js"></script>
	 <script src="/static/theme/dark.js"></script>
	 <script src="/static/theme/macarons.js"></script>
	 <script src="/static/theme/infographic.js"></script>
	 <script src="/static/theme/shine.js"></script>
    <!-- {{ url_for('static', filename='echarts.js') }} -->
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main"  style="width: 1280px;height:1024px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'), 'shine');

		
		var hours = [
'综合','采掘','公用事业','化工','有色金属','电气设备','交通运输','钢铁','商业贸易','机械设备','建筑装饰','房地产','家用电器','非银金融','建筑材料','汽车','纺织服装','农林牧渔','轻工制造','传媒','休闲服务','食品饮料','计算机','医药生物','电子','通信','国防军工'


		];
var days = [
'综合','采掘','公用事业','化工','有色金属','电气设备','交通运输','钢铁','商业贸易','机械设备','建筑装饰','房地产','家用电器','非银金融','建筑材料','汽车','纺织服装','农林牧渔','轻工制造','传媒','休闲服务','食品饮料','计算机','医药生物','电子','通信','国防军工'


];

var data = [
	[13,0,472.1],[13,1,420.5],[13,2,56.1],[13,3,78.9],[13,4,74.5],[13,5,3.0],[13,6,234.6],[13,7,113.5],[13,8,24.1],[13,9,22.7],[13,10,179.1],[13,11,76.3],[13,13,43.2],[13,14,2.0],[13,15,2.0],[13,16,10.1],[13,20,38.2],[13,21,8.0],[13,23,8.8],[13,24,0.2],[13,25,13.2],[13,26,85.0]

	
	]

data = data.map(function (item) {
    //return [item[1], item[0], item[2] || '-'];
	return [item[0], item[1], item[2] || '-'];
});

option = {
    tooltip: {
        position: 'top'
    },
    animation: false,
	
    //grid: {
    //    height: '50%',
    //    y: '10%'
    //},
	
    xAxis: {
        type: 'category',
        data: hours,
			axisLabel:{
				interval:0
				//, 
				//rotate:90
			}
		,		
        splitArea: {
            show: true
        }
    },
    yAxis: {
        type: 'category',
        data: days
		//,
        //splitArea: {
        //    show: true
        //}
    },
    visualMap: {
        min: 0,
        max: 300,
        calculable: true,
        orient: 'horizontal',
        left: 'center',
		top: '-15%'
    },
    series: [{
        name: 'Punch Card',
        type: 'heatmap',
        data: data,
        label: {
            normal: {
                show: true
            }
        },
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
        }
    }]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>
