<html>
<head>
 <title>Show Page</title>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
     <script src="/static/echarts.js"></script> 
	 <script src="/static/map/js/china.js"></script>
	 <script src="/static/theme/vintage.js"></script>
	 <script src="/static/theme/dark.js"></script>
	 <script src="/static/theme/macarons.js"></script>
	 <script src="/static/theme/infographic.js"></script>
	 <script src="/static/theme/shine.js"></script>
    <!-- {{ url_for('static', filename='echarts.js') }} -->
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main"  style="width: 1800px;height:600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'), 'shine');
option = {
    tooltip: {
        trigger: 'axis'
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data:['行业对外担保量','行业对外担保占比']
    },
	
    xAxis: [
        {
            type: 'category',
			axisLabel:{
				interval:0, 
				rotate:45,
				textStyle:{
					fontSize:5
				}
			},
            data: [
			//'房地产','综合','建筑装饰','采掘','交通运输','公用事业','化工','商业贸易','钢铁','非银金融','机械设备','食品饮料','有色金属','休闲服务','农林牧渔','医药生物','电气设备','汽车','轻工制造','建筑材料','纺织服装','计算机','电子','国防军工','通信','家用电器','传媒'
'房地产开发','综合Ⅱ','基础建设','石油开采','电力','煤炭开采','钢铁Ⅱ','多元金融','房屋建设','专业零售','港口','航空运输','化学制品','专用设备','饮料制造','景点','石油化工','高速公路','一般零售','水务','塑料','贸易','汽车整车','水泥制造','食品加工','物流','计算机设备','化学原料','电气自动化设备','通信设备','其他采掘','纺织制造','化学纤维','中药','元件Ⅱ','造纸','燃气','金属制品','装修装饰','船舶制造','机场','航天装备','电源设备','商业物业经营','白色家电','黄金','餐饮','服装家纺','运输设备','专业工程','环保工程及服务','化学制药','工业金属','园区开发','铁路运输','渔业','通用机械','汽车服务','其他电子Ⅱ','计算机应用','航运','文化传媒','酒店','其他休闲服务','金属非金属新材料','农业综合','电子制造Ⅱ','饲料','电机','畜禽养殖','采掘服务','公交','稀有金属','视听器材','高低压设备','农产品加工','橡胶','医疗器械','汽车零部件','玻璃制造','其他建材'

			
			]
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '担保量',
            min: 0,
            max: 1000,
            axisLabel: {
                formatter: '{value} 亿',
				
            }
        },
        {
            type: 'value',
            name: '百分比',
            min: 0,
            max: 40,
            interval: 5,
            axisLabel: {
                formatter: '{value} %'
            }
        }
    ],
    series: [
        {
            name:'行业对外担保量',
            type:'bar',
            data:[
			//13248.57,6825.09,2739.93,2733.50,1796.79,1400.07,903.64,742.66,735.96,618.12,382.62,363.78,298.82,294.22,180.24,177.67,176.62,165.60,148.44,137.43,131.49,126.60,125.43,116.29,104.23,45.37,12.65
			13220.19,6825.09,2243.92,1658.07,1112.38,971.60,735.96,617.31,396.36,370.95,352.44,338.54,333.05,256.52,239.82,230.28,203.36,181.70,178.21,173.50,165.24,149.89,143.91,136.90,119.53,117.73,110.44,109.51,105.29,104.23,100.71,92.79,91.49,87.40,86.97,68.24,66.40,65.97,63.60,60.93,59.01,55.36,53.90,47.00,44.09,42.46,42.14,38.70,38.62,36.04,35.79,32.61,31.93,28.38,25.83,24.03,21.51,21.03,16.38,16.16,14.37,12.65,11.08,10.72,8.43,7.07,6.30,3.88,3.46,3.40,3.12,3.05,1.77,1.28,1.27,1.00,0.99,0.90,0.66,0.48,0.06

			]
			
        },

        {
            name:'行业对外担保占比',
            type:'line',
            yAxisIndex: 1,
            data:[
			//38.15,19.65,7.89,7.87,5.17,4.03,2.60,2.14,2.12,1.78,1.10,1.05,0.86,0.85,0.52,0.51,0.51,0.48,0.43,0.40,0.38,0.36,0.36,0.33,0.30,0.13,0.04
			39.47,20.38,6.70,4.95,3.32,2.90,2.20,1.84,1.18,1.11,1.05,1.01,0.99,0.77,0.72,0.69,0.61,0.54,0.53,0.52,0.49,0.45,0.43,0.41,0.36,0.35,0.33,0.33,0.31,0.31,0.30,0.28,0.27,0.26,0.26,0.20,0.20,0.20,0.19,0.18,0.18,0.17,0.16,0.14,0.13,0.13,0.13,0.12,0.12,0.11,0.11,0.10,0.10,0.08,0.08,0.07,0.06,0.06,0.05,0.05,0.04,0.04,0.03,0.03,0.03,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

			]
        }
    ]
};


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>
